<h2></h2>

<div class="card" style="width:400px">

  <div class="card-body">
    <h4>{{id}}</h4>
    <h4 class="card-title">{{title}}</h4>
    <img src="{{imageOneUrl}}" />
    <a href="/posts/{{id}}" class="btn btn-primary">CLICK THIS AS A TEST</a>
    <a href="#" class="btn btn-primary">See Profile</a>
    <div>
      <span>{{numberAgree}} Agree</span><span>
        {{numberDisagree}}
        Disagree</span>
    </div>
  </div>
</div>