<h2></h2>



{{numberAgree}}
{{numberDisagree}}

<div class="card" style="width:400px">

  <img class="card-img-top" src="logo.jpeg" alt="Card image">
  <div class="card-body">
    <h4>{{id}}</h4>
    <h4 class="card-title">{{title}}</h4>
    <img src="{{imageOneUrl}}" />
    <p class="card-text">Some example text.</p>
    <a href="/posts/{{id}}" class="btn btn-primary">CLICK THIS AS A TEST</a>
    <a href="#" class="btn btn-primary">See Profile</a>
  </div>
</div>