<section class="col-lg-12 mt-3">
    <h2 class="text-center fs-2 fw-bold">{{title}}</h2>
    <div class="row align-items-center">
      <div class='col-lg-6'>
      <img src="{{imageOneUrl}}" class="img-fluid"/>
      </div>
      <div class='col-lg-6'>
        <img src="{{imageTwoUrl}}" class="img-fluid"/>
      </div>
    </div>
    <div class="row mt-2">
      <div class='col-lg-6'>
        <div class="text-center bg-success rounded">Agree: {{numberAgree}}</div>
      </div>
      <div class='col-lg-6'>
        <div class="text-center bg-danger rounded">Disagree: {{numberDisagree}}</div>
      </div>
    <p>{{body}}</p>
    <p>Submitted by: {{user.name}}</p>
    </ul>

    <p>What do you think?</p>
    <div class="btn-group btn-group-lg" role="group" aria-label="Basic mixed styles example">
      <button type="button" class="btn bg-success" id="yesButton">It Does!</button>
      <button type="button" class="btn btn-danger" id="noButton">It Doesn't</button>
    </div>
    
  
</section>













